.brand-logo {
  margin-left: 15px;
}

.card .card-content .card-title {
  margin-bottom: 10px;
}

#search-row form {
  padding-top: 20px;
}

#container {
  justify-content: center;
}

#ble {
  border-radius: 30px;
  margin: 15rem 0rem;
}

#avatarPhoto {
  border-radius: 50%;
  text-justify: right;
}