<%- include('../partials/header') %>
<ul>Registered Users:
  <% users.forEach(u => { %>
  <li><%= u.name %></li>
  <% }) %>
</ul>

<div class="container">
  <img id="ble" src="https://cdn.pixabay.com/photo/2015/03/26/10/07/restaurant-690975_960_720.jpg"
    alt="image of groups eating in a restaurant">
</div>
<%- include('../partials/footer') %>